<ul class="left-menu">
  <li class="active"><a ng-href="/dashboard"><img src="images/home-icon.svg"> Dashboard</a></li>
  <li><a href="/messages"><img src="images/message-icon.png"> Messages</a></li>
  <li><a ng-href="/settings"><img src="images/settings-icon.png"> Settings</a></li>
  <li><a ng-href="/broadcast"><img src="images/vector.png"> Broadcast</a></li>
  <!--<li><a ng-href="/faq"><img src="images/faq-icon.png"> FAQ</a></li>-->
  <li><a ng-href="/support"><img src="images/support-icon.png"> Support</a></li>
</ul>
