<div class="wrapper">
  <div class="messages-container amount row">
    <div class="top row">
      <a class="tab-btn active">Messages</a>

      <div class="align-right">
        <p class="info-p"><span>Balance: </span>{{dashboard.credits}} credits</p>
        <a class="blue-btn" href="/settings-recharge">Recharge</a>
      </div>

    </div>
    <div class="amount-info row">
      <div class="empty">
        <img src="/images/empty-img.png"/>
        <p>We don't have any data to show you right now.</p>
      </div>
      <div class="amounts hidden">
        <div class="col-xs-4 column">
          <p class="number total">{{dashboard.total}}</p>
          <p class="description">Total number of sent messages</p>
        </div>
        <div class="col-xs-4 column middle">
          <p class="number perfect">{{dashboard.perfect}}</p>
          <p class="description">Perfect Transactions</p>
        </div>
        <div class="col-xs-4 column">
          <p class="number problem">{{dashboard.problem}}</p>
          <p class="description">Problem spotted</p>
        </div>
      </div>
    </div>
  </div>
  <div class="messages-container bottom row">
    <div class="top row buyerDashbord">
      <a class="tab-btn active" ng-click="dashboard.getAll()">All</a>
      <a class="tab-btn" ng-click="dashboard.getPerfect()">Perfect transactions</a>
      <a class="tab-btn" ng-click="dashboard.getSpotted()">Problems spotted</a>

      <div class="align-right">
        <select id="SortDropdown">
          <option value="" selected>Sort by default</option>
          <option value="lastName,asc">Sort by last name</option>
          <option value="firstName,asc">Sort by first name</option>
        </select>
        <select id="SortDate">
          <option value="today">Today</option>
        </select>
      </div>

    </div>
    <div class="amount-info row">
      <div class="empty hidden">
        <img src="/images/empty-img.png"/>
        <p>We don't have any data to show you right now.</p>
      </div>

      <div class="messages-block">
        <div class="message row" ng-repeat="dialog in dashboard.dialogs">
          <div class="col-xs-5">
            <img src="/images/pic.png"/>
            <p class="info-p"><span>Buyer: </span>{{dialog.buyer}}</p>
          </div>
          <div class="col-xs-2 id-column table-display">
            <p class="info-p table-cell"><span>Phone: </span>{{dialog.phone}}</p>
          </div>
          <div class="col-xs-5 table-display text-right">
            <div class="align-right table-cell">
              <p class="info-p"><span>Messages sent: </span>{{dialog.messages}}</p>
              <a class="blue-btn" ng-click="dashboard.goToMessage($index)">Go to messages</a>
            </div>
          </div>
        </div>
        <div class="pagination-container">
          <ul ng-show="dashboard.totalItems >= 4" uib-pagination direction-links="false" boundary-links="true" total-items="dashboard.totalItems"
              ng-model="dashboard.currentPage" items-per-page="4"
              ng-change="dashboard.pageChanged()"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
