<div class="wrapper">
    <div class="messages-container messages row">
        <div class="top row no-padding">
            <div class="top-inner col-xs-4">
                <a class="tab-btn active">Messages</a>
            </div>

            <div class="top-inner right col-xs-8 text-center">
                <p class="name">{{messages.titleName}} - {{messages.titlePhone}}</p>
            </div>

        </div>

        <div class="dialogs-wrapper col-xs-4">
            <div class="search-container">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="search-input" placeholder="Search"/>
            </div>
            <div class="dialogs-container">
                <div class="dialog" ng-repeat="dialog in messages.dialogs" ng-click="messages.openDialog($index, dialog.dialogId)">
                    <div class="avatar">{{dialog.initials}}</div>
                    <div class="user-info">
                        <p class="name">{{dialog.buyer}} - {{dialog.phone}}</p>
                        <div ng-class="dialog.perfect ? 'perfect' : 'problem'">
                            <span class="dot"></span><p class="transaction-type">{{dialog.transaction}}</p>
                        </div>
                    </div>
                    <p class="date align-right">Today</p>
                </div>
            </div>
        </div>
        <div class="conversation-container col-xs-8">
            <div class="conversation">

            </div>
            <div class="input-container">
                <input id="messageInput" maxlength="160" type="text" placeholder="Type your message..." ng-keypress="messages.inputEnter($event)"/>
                <div class="send-btn-container align-right">
                    <a class="blue-btn" ng-click="messages.userMessage()">Send message</a>
                </div>
            </div>
        </div>
    </div>
</div>
