<div class="wrapper">
    <div class="messages-container messages row">
        <div class="top row">
            <a class="tab-btn active" href="/settings">Customize messages</a>
            <a class="tab-btn chatbot" href="/settings-disable" ng-show="settings.chatbotState">Disable chatbot</a>
            <a class="tab-btn chatbot" href="/settings-disable" ng-show="!settings.chatbotState">Enable chatbot</a>
            <a class="tab-btn" href="/settings-notifications">Notifications</a>
            <a class="tab-btn" href="/settings-recharge">Recharge</a>
        </div>

        <div class="container-inner">
            <div class="customize-description col-xs-4">
                <h2>Customize message</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus lectus magna. Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="templates-container col-xs-8">
                <div class="row" ng-repeat="template in settings.messTemplates">
                    <p class="message-group-title">
                        {{template.group}}
                    </p>
                    <div class="align-right scroll-btns">
                        <a class="scroll-back" ng-click="settings.scrollLeft($index, 'messages-group-')"><img src="/images/right.svg"/> </a>
                        <a class="scroll-next" ng-click="settings.scrollRight($index, 'messages-group-')"><img src="/images/right.svg"/> </a>
                    </div>
                    <div id="messages-group-{{$index}}" class="messages-group scrollable">
                        <div class="message-template" ng-repeat="value in template.values">
                            <p>{{value.value}}</p>
                            <a class="classic-btn edit"
                               ng-click="settings.editTemplate($parent.$index, $index)">Edit</a>
                            <a class="delete" ng-click="settings.openDeleteModal($parent.$index, $index)"><img src="/images/delete.svg"></a>
                        </div>
                        <div class="message-template add">
                            <a class="classic-btn edit" ng-click="settings.addTemplate($index)">Add new variant</a>
                        </div>
                    </div>
                </div>
                <div id="editModal" class="modal">
                    <div class="modal-content edit">
                        <!--<span class="close" ng-click="settings.closeEdit()">&times;</span>-->
                        <div class="edit-field" ng-show="settings.parts != undefined" ng-repeat="part in settings.messTemplates[settings.currentParentIndex].parameters">
                            <span id="editPart{{$index * 3}}" class="editable" contenteditable="true">{{settings.parts[$index * 3]}}</span>
                            <span id="editPart{{$index * 3 + 1}}" class="parameter">{{settings.messTemplates[settings.currentParentIndex].parameters[0].parameter}}</span>
                            <span id="editPart{{$index * 3 + 2}}" class="editable" contenteditable="true">{{settings.parts[$index * 3 + 2]}}</span>
                        </div>
                        <div class="edit-field" ng-show="settings.parts.length == 0">
                            <span id="editMess" class="editable" contenteditable="true">{{settings.mess}}</span>
                        </div>
                        <a class="classic-btn edit" ng-click="settings.updateMessage()">Save</a>
                    </div>
                </div>
                <div id="createModal" class="modal">
                    <div class="modal-content edit">
                        <!--<span class="close" ng-click="settings.closeCreate()">&times;</span>-->
                        <div class="edit-field" ng-show="settings.createParts != undefined" ng-repeat="part in settings.messTemplates[settings.currentParentIndex].parameters">
                            <span id="createPart{{$index * 3}}" class="editable" contenteditable="true">{{settings.createParts[$index * 3]}}</span>
                            <span id="createPart{{$index * 3 + 1}}" class="parameter">{{settings.messTemplates[settings.currentParentIndex].parameters[0].parameter}}</span>
                            <span id="createPart{{$index * 3 + 2}}" class="editable" contenteditable="true">{{settings.createParts[$index * 3 + 2]}}</span>
                        </div>
                        <div class="edit-field" ng-show="settings.createParts.length == 0">
                            <span id="createMess" class="editable" contenteditable="true">{{settings.createMess}}</span>
                        </div>
                        <a class="classic-btn edit" ng-click="settings.createMessage()">Save</a>
                    </div>
                </div>
                <div id="deleteMessageModal" class="modal">
                    <div class="modal-content">
                        <p>Are you sure you want to delete this message?</p>
                        <div class="align-right">
                            <a class="classic-btn" ng-click="settings.confirmModalClose()">Cancel</a>
                            <a class="warning-btn" ng-click="settings.deleteMessage()">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
